[
  {mnesia,
   [
    {dir, "db"},
    {debug, true}
   ]
  },
  {sumo_db,
   [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends, []},
    {stores,
     [{serpents_store_mnesia,
       sumo_store_mnesia,
       [{workers, 10},
        {disc_copies, here}
       ]
      }
     ]
    },
    {docs, []},
    {events, []}
   ]
  },
  {lager,
   [
    {colored, true},
    {async_threshold, 200},
    {async_threshold_window, 5},
    {error_logger_hwm, 500},
    {handlers, [{lager_console_backend, [debug, true]}]}
   ]
  },
  {sasl,
   [
    {sasl_error_logger, false},
    {errlog_type, error}
   ]
  },
  {serpents,
   [
    {http_port, 8585},
    {http_listener_count, 10}
   ]
  }
].
